$primary-color: #3498db;
$primary-color-hover: #0d6aa8;

$upload-bottom: #7fcbfe;
$upload-bottom-hover: #9dd3f9;

$delete-bottom: #e80707;
$delete-bottom-hover: #960000;

$edit-bottom: #179c4e;
$edit-bottom-hover: #0b6c33;
