$primary-color: #3498db;
$primary-color-hover: #0d6aa8;

$delete-bottom: #e80707;
$delete-bottom-hover: #960000;

$edit-bottom: #179c4e;
$edit-bottom-hover: #0b6c33;

$background-color: #f4f4f4;
$text-color: #bdb6b6;
$font-family: 'Arial', sans-serif;