@use 'variables';

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.no-products {
    text-align: center !important;
    color: variables.$delete-bottom;
}

.aling-text {
    text-align: center !important;
}